.banner {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: url("https://img.freepik.com/foto-gratis/mujer-cara-marcada-recibiendo-inyeccion-botox_107420-74126.jpg?w=900&t=st=1668254373~exp=1668254973~hmac=308659a6a3020594a8600beae04866f2b35f9beceb76e7c7d2deaf0ac14d0691"),rgba(255, 6, 247, 0.7);
    background-blend-mode: color;
    background-size: cover;
    height: 50vh;
    justify-content: end;
    align-items: flex-end;
    color: white;
    text-align: right;
}

.purple {
    color: #7648ab !important;
}


.banner p {
    max-width: 560px;
}

.btn-purple {
    background-color: #7648ab;
    color: white;
}

.btn-purple:hover {
    background-color: #712bc1 !important;
    color: white !important;
}


footer {
    background: linear-gradient(90deg, #7648ab 0%, #efb0b0 100% );
    color: white;
}

.navfooter a {
    color: white;
}


.mediaicons>li>a>i{
    display: flex;
    color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.mediaicons>li:nth-child(1)>a>i{
    background-color: #4267b2;
}
.mediaicons>li:nth-child(1):hover>a>i{
    color: #4267b2;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(1):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(2)>a>i{
    background-color: #e1306c;
}
.mediaicons>li:nth-child(2):hover>a>i{
    color: #e1306c;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(2):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(3)>a>i{
    background-color: #1da1f2;
}
.mediaicons>li:nth-child(3):hover>a>i{
    color: #1da1f2;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(3):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(4)>a>i{
    background-color: #0077b5;
}
.mediaicons>li:nth-child(4):hover>a>i{
    color: #0077b5;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(4):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(5)>a>i{
    background-color: #EA4335;
}
.mediaicons>li:nth-child(5):hover>a>i{
    color: #EA4335;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(5):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(6)>a>i{
    background-color: #25D366;
}
.mediaicons>li:nth-child(6):hover>a>i{
    color: #25D366;
    background-color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(6):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}